.typewriterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.typewriter {
  font-family: monospace;
  font-size: 3rem;
  color: #fafafa;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 18s steps(12, end) infinite;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 100vw;
  box-sizing: border-box;
  word-break: break-all;
}

@media (max-width: 900px) {
  .typewriter {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .typewriter {
    font-size: 1.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.typewriter::after {
  content: "|";
  position: absolute;
  right: -0.35em;
  color: var(--yellow);
  font-size: 1em;
  animation: blink 1s infinite ease-in-out;
}

@keyframes typing {
  0% {
    width: 0;
  }
  16% {
    width: 100%;
  }
  72% {
    width: 100%;
  }
  89% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}
