@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  background-color: #313131;
  color: white;
  font-size: 20px;
  --green: #00b755;
  --red: #ca4754;
  --yellow: #daaf38;
  --purple: #b438da;
}

.input-ingame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #313131;
  opacity: 0;
}

body {
  display: grid;
  padding: 32px;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
}
section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 4;
}
p {
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
}

tb-letter {
  color: grey;
  position: relative;

  &.active::before {
    content: "|";
    color: var(--yellow);
    font-size: 20px;
    position: absolute;
    left: -65%;
    animation: 1s blink infinite ease-in-out;
  }

  &.active.is-last::before {
    left: 65%;
  }

  &.correct {
    color: var(--green);
  }
  &.incorrect {
    color: var(--red);
  }
}

h2 {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  color: var(--purple);
}

button {
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
}

tb-word {
  border-bottom: 1px solid transparent;
  &.marked {
    border-color: var(--red);
  }
}

@keyframes blink {
  0%,
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-border-container {
  padding: 2px;
  border-radius: 0.375rem;
  background: linear-gradient(-45deg, #f2444f, #40a8be, #f2444f, #40a8be);
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
}

.bg-palette-gradient-animated {
  background: linear-gradient(-45deg, #f2444f, #40a8be, #f2444f, #40a8be);
  background-size: 200% 200%;
  animation: gradient-animation 3s ease infinite;
}

.gradient-border-content {
  background-color: #374151;
  border-color: #4b5563;
  border-radius: 0.25rem;
  height: 100%;
  width: 100%;
}
